*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 80%;
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
    background-image: url("/img/backdrop.png");
    background-repeat: no-repeat;
    background-color: #cccc;
    background-position: center;
    background-size: cover;
   /* background-repeat: no-repeat;*/
}
.work{
    background: white;
}

header {
    background-color: #CCCC;
    padding: 10px;

}


nav {
    padding-bottom: 10px;
   /* padding-left: 35px;*/
    text-align: center;
    margin-top: -25px;
    margin-bottom: -25px;

/*
    margin-top: -25px;
    margin-bottom: -25px;
*/
}

li {
list-style-type: none;
}


.nav-links:link {
    color: black;
    text-decoration:none;
    font-size: 5em;
/*    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;*/
    text-align: center;
    background-color: white;
    padding: 5px;
    background: white;
    line-height: 135px;
}

.nav-links:visited {
    color: black;
    text-decoration:none;
    font-size: 5em;
    text-align: center;
    background-color: white;
    padding: 5px;
    background: white;
}
.nav-links:hover {
    color:#2A6BB4;
}
.subnavlinks:link {
    color: black;
    text-decoration:none;
    font-size: 3em;
    text-align: left;
    background-color: white;
    padding: 5px;
    background: white;
}
.subnav-links:visited {
    color: black;
    text-decoration:none;
    font-size: 3em;
    text-align: left;
    background-color: white;
    padding: 5px;
    background: white;
}

.subnav-links:hover {
    color:#2A6BB4;
}
.current-page {
    font-size: 1.4em;
    font-weight: normal;
}

article {
    padding-bottom: 20px; 
}

.reference-image {
    left: 150px;
    padding: 10px 10px 15px 0;
    position: relative;
}
.logo {
    align-content: center;
    display: block;
    margin: 0 auto;
}
h1 {
    color: black;
    font-size: 2.1875em;
    background-color: white;
    padding: 15px;
    background: white;
    text-align: center;
}

h2 {
    color: black;
    font-size: 1em;
    padding-bottom: 10px;
    padding-left: 25px;
    background-color: white;
    padding: 5px;
    background: white;
    text-align: center;
    font-style: italic;
    font-weight: 100;

    
}

h3 {
    color: black;
    font-size: 1.5em;
    font-style: oblique;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;

}
p {
    color: #4C4C4C;
    font-size: .9375em;
    padding: 20px;
    padding-left: 40px;
}

footer{
    text-align: center;
}