*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 80%;
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
    background-image: url("../img/backdrop.png");
    background-repeat: no-repeat;
/*    background-color: transparent;*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   /* background-repeat: no-repeat;*/
}
.work{
    background: white;
}

header {
    background-color: transparent;
    padding: 10px;

}

.name{
    padding: 8px;
    margin-top: 10px;
    background-color: white;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}
nav {
    padding-bottom: 10px;
   /* padding-left: 35px;*/
    text-align: center;
    margin-top: -25px;
    margin-bottom: -25px;
    

/*
    margin-top: -25px;
    margin-bottom: -25px;
*/
}

li {
list-style-type: none;
}


.nav-links:link {
    color: black;
    text-decoration:none;
    font-size: 4em;
/*    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;*/
    text-align: center;
    background-color: white;
    padding: 5px;
    background: white;
    line-height: 135px;
    box-shadow: 10px 10px;
    border-style: solid;
    transition: opacity .4s ease;
}

.nav-links:visited {
    color: black;
    text-decoration:none;
    font-size: 5em;
    text-align: center;
    background-color: white;
    padding: 5px;
    background: white;
    transition: opacity .4s ease;
}
.nav-links:hover {
    color:#2A6BB4;
    transition: opacity .4s ease;
}
.subnavlinks:link {
    color: black;
    text-decoration:none;
    font-size: 3em;
    text-align: left;
    background-color: white;
    padding: 5px;
    background: white;
}
a.experiment-nav:link {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
/*    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;*/
    text-align: right;
    background-color: white;
    padding: 1px;
    background: white;
    border-style: solid;
    bottom: 5%;
    right: 5%;
    position: fixed;
}

a.experiment-nav:visited {
    color: black;
    text-decoration: none;
    font-size: 2.5em;
    background-color: white;
    padding: 5px;
    background: white;
    bottom: 5%;
    right: 5%;
    position: relative;
}
a.experiment-nav:hover {
    color:#2A6BB4;
    transform: rotateY(130deg);
}
a.experiment-nav {
    background: white;
    box-shadow: 10px 10px;
}
.subnavlinks:link {
    color: black;
    text-decoration:none;
    font-size: 3em;
    text-align: left;
    background-color: white;
    padding: 5px;
    background: white;
}
.subnav-links:visited {
    color: black;
    text-decoration:none;
    font-size: 3em;
    text-align: left;
    background-color: white;
    padding: 5px;
    background: white;
}

.subnav-links:hover {
    color:#2A6BB4;
}
.current-page {
    font-size: 1.4em;
    font-weight: normal;
}

article {
    padding-bottom: 20px; 
}

.reference-image {
    left: 150px;
    padding: 10px 10px 15px 0;
    position: relative;
}
.logo {
    align-content: center;
    display: block;
    margin: 0 auto;
}
h1 {
    color: black;
    font-size: 2.1875em;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: white;
    padding: 15px;
    background: white;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
}

h2 {
    color: black;
    font-size: 1em;
    padding-bottom: 10px;
    padding-left: 25px;
    background-color: white;
    padding: 5px;
    background: white;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 30%;
    margin-left: 30%;

    
}
h2.description {
    color: black;
    font-size: 1em;
    padding-bottom: 10px;
    padding-left: 25px;
    background-color: white;
    padding: 5px;
    background: white;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 10px;

    
}

h3 {
    color: black;
    font-size: 1.5em;
    font-style: oblique;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;

}
p {
    color: #4C4C4C;
    font-size: .9375em;
    padding: 20px;
    padding-left: 40px;
}
@media only screen and (max-width: 520px) {
    h1{
        margin-left: 15%;
        margin-right: 15%;
    }
     h2{
        margin-left: 15%;
        margin-right: 15%;
    }
   /*a.experiment-nav:link {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    background-color: white;
    padding: 1px;
    background: white;
    border-style: solid;
    bottom: 5%;
    right: 5%;
    position: relative;
}*/
    a.experiment-nav:link {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
/*    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;*/
    text-align: right;
    background-color: white;
    padding: 1px;
    background: white;
    border-style: solid;
    position: inherit;
}

a.experiment-nav:visited {
    color: black;
    text-decoration: none;
    font-size: 2.5em;
    background-color: white;
    padding: 5px;
    background: white;
}
a.experiment-nav:hover {
    color:#2A6BB4;
    transform: rotateY(130deg);
}
a.experiment-nav {
    background: white;
    margin-top: 5px;
}
footer{
    
    text-align: center;
}