*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 80%;
    
}
h1 {
   margin-left: 15%; 
}
h3 {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    margin-left: 15%
}
li { 
list-style: none;
text-decoration: none;
font-size: 3em;
color: blue;
    margin-left: 15%; 
}

li: visited { 
text-decoration: none;
text-decoration: none;
font-size: 3em;
color: blue;
    margin-left: 15%; 
}

img {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%; 
}
.container {
    margin-left: 10%;
    margin-right: 10%;
    
}