body {
    color: #f5f6f7;
    font: 1.25em Montserrat, sans-serif;
    line-height: 1.8;
}

p {
    font-size: 1em;
}

.margin-gap {
    margin-bottom: 2.8em;
}


.mybackground1 {
    background-color: #009000;
    /* Leafy Green */
    color: #ffffff;
}

.mybackground1 img {
    width: 30%;
}

.mybackground2 {
    background: url(../img/backgrounds/tree-line1.jpg) no-repeat center center fixed;
    /* background-color: #474e5d; */
    background-size: cover;
    color: #ffffff;
    width: 100%;
}

.mybackground3 {
    background-color: #ffffff;
    color: #555555;
}

.mybackground4 {
    background-color: lightgray;
    color: #474e5d;
}


.container-fluid {
    padding-bottom: 70px;
    padding-top: 70px;
}

.navbar {
    border: 0;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: 5px;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.row p {
    margin-top: 2em;
}

.carousel-inner {
    width: 100%;
}


.carousel-inner > .item > img {
    margin: auto;
    width: 60%;
}

.carousel-inner > .item > a > img {
    margin: auto;
    width: 60%;
}

/*
.carousel-control.left, .carousel-control.right {
    background-image: none
}

*/

.mybackground5 {
    background-color: #2f2f2f;
    color: #ffffff;
}
